{% extends 'layouts/base.html.j2' %}

{% block title %}
AIP-{{ aip.id }}: {{ aip.title }}
{% endblock %}

{% block content %}
<aside id="aip-sidebar" class="docs-component-sidebar">
  <table id="aip-summary">
    <tr><th colspan="2">{{ aip.title }}</th></tr>
    <tr><td>Number</td><td>{{ aip.id }}</td></tr>
    <tr><td>Permalink</td><td>{{ site.base_url }}{{ aip.relative_uri }}</td></tr>
    {# {% if aip.scope -%}
    <tr><td>Scope</td><td>{{ page.areas[page.aip.scope] }}</td></tr>
    {% endif -%} -#}
    {% if aip.state -%}
    <tr><td>State</td><td>{{ aip.state | capitalize }}</td></tr>
    {% endif -%}
    {% if aip.created -%}
    <tr><td>Created</td><td>{{ aip.created }}</td></tr>
    {% endif -%}
  </table>
  {#
  <section id="aip-toc" class="docs-component-sidebar-toc">
    {% include toc.html html=content h_min=2 h_max=3 %}
  </section>
  #}
  <section class="docs-component-sidebar-actions">
    <ul>
      <li><a href="{{ site.repo_url }}/issues/">File Bug</a></li>
      <li><a href="{{ site.repo_url }}/blob/master/{{ aip.repo_path }}">View source</a></li>
      <li><a href="{{ site.repo_url }}/edit/master/{{ aip.repo_path }}">Edit this page</a></li>
    </ul>
  </section>
</aside>
<section id="aip-main" class="docs-component-main">
  {% include 'includes/breadcrumb.html.j2' %}
  {% include 'includes/state_banners/' + aip.state + '.html.j2' ignore missing %}
  <h4 class="aip-number">AIP-{{ aip.id }}</h4>
  {{ aip.content }}
  {% include 'includes/footer.html.j2' %}
</section>
{% endblock %}
